In [1]:
#imports
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier

In [2]:
#sets
PATH = "../Datasets/Modified/mod_UCI_Credit_Card.csv"

In [5]:
df = pd.read_csv(PATH)

In [6]:
#defining X and y
X = df.drop("Default payment",axis=1)
y = df["Default payment"].values

In [7]:
#train and test_set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [8]:
#Creating instance of the classifier
dtc = DecisionTreeClassifier()

In [9]:
#fit
dtc.fit(X_train,y_train)

DecisionTreeClassifier()

In [10]:
predictions = dtc.predict(X_test)

In [12]:
dtc.score(X_test,y_test)

0.720927575965273

In [14]:
y_pred = dtc.predict(X_test)
confusion_matrix(y_test,y_pred)
pd.crosstab(y_test, y_pred, rownames = ['Actual'], colnames =['Predicted'], margins = True)

Predicted     0     1   All
Actual
0          5527  1240  6767
1          1203   784  1987
All        6730  2024  8754

In [15]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.82      0.82      0.82      6767
           1       0.39      0.39      0.39      1987

    accuracy                           0.72      8754
   macro avg       0.60      0.61      0.60      8754
weighted avg       0.72      0.72      0.72      8754