In [3]:
#imports
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import auc
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import GridSearchCV
%matplotlib inline

In [4]:
#sets
PATH = "../Datasets/Modified/mod_UCI_Credit_Card.csv"

In [5]:
df = pd.read_csv(PATH)

In [6]:
df.head()

,CreditAmount,SEX,MARRIAGE,AGE,REPAYMENT_status_in_September,REPAYMENT_status_in_August,REPAYMENT_status_in_July,REPAYMENT_status_in_June,REPAYMENT_status_in_May,REPAYMENT_status_in_April,...,PAY_amount_in_September,PAY_amount_in_August,PAY_amount_in_July,PAY_amount_in_June,PAY_amount_in_May,PAY_amount_in_April,Default payment,EDUCLVL_school,EDUCLVL_university,EDUCLVL_high_school
0,20000.0,2,1,24,2,2,-1,-1,-2,-2,...,0.0,689.0,0.0,0.0,0.0,0.0,1,0,1,0
1,120000.0,2,2,26,-1,2,0,0,0,2,...,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1,0,1,0
2,90000.0,2,2,34,0,0,0,0,0,0,...,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0,0,1,0
3,50000.0,2,1,37,0,0,0,0,0,0,...,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0,0,1,0
4,50000.0,1,1,57,-1,0,-1,0,0,0,...,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0,0,1,0

In [7]:
y = df["Default payment"].values
X = df.drop("Default payment",axis=1)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=41, test_size=0.2)
knn_classifier = KNeighborsClassifier(8)

In [10]:
# Setting all the parameters we want to test
params =  {'algorithm':["auto", "ball_tree", "kd_tree", "brute"],
          'n_neighbors':[1,2,3,4,5,6],
          "weights":["uniform", "distance"],
          'leaf_size':[30,31,32]}

           
'''
            'metric': , 
           'metric_param:':, 
           'n_jobs':,
           'n_neighbors' :,
           'p':, 
           'weights':}
'''

"\n            'metric': , \n           'metric_param:':, \n           'n_jobs':,\n           'n_neighbors' :,\n           'p':, \n           'weights':}\n"

In [11]:
print("Parameters:")
for k,v in params.items():
    print("{} : {}".format(k,v))
print()

Parameters:
algorithm : ['auto', 'ball_tree', 'kd_tree', 'brute']
n_neighbors : [1, 2, 3, 4, 5, 6]
weights : ['uniform', 'distance']
leaf_size : [30, 31, 32]

In [12]:
knn_classifier.get_params().keys()

dict_keys(['algorithm', 'leaf_size', 'metric', 'metric_params', 'n_jobs', 'n_neighbors', 'p', 'weights'])

In [13]:
# Setting up the grid search that will test every combination of parameters
gridsearch = GridSearchCV(estimator = knn_classifier,
                        param_grid = params,
                        scoring = 'accuracy', 
                        cv = 5, # Use 5 folds
                        verbose = 1,
                        n_jobs = -1 #Use all but one CPU core
                        )

# As we are doing cross-validation on the training set, the testing set X_test is untouched
result = gridsearch.fit(X_train, y_train)

Fitting 5 folds for each of 144 candidates, totalling 720 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   11.0s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 434 tasks      | elapsed:  5.9min
[Parallel(n_jobs=-1)]: Done 720 out of 720 | elapsed: 11.2min finished

In [14]:
print("The best parameters are :", result.best_params_)
print("The best accuracy is {:.2f}%:".format(result.best_score_ * 100))

# We can now use the testing set with the optimal hyper-parameters to get the final generalization accuracy
decision_tree = result.best_estimator_
score = decision_tree.score(X_test, y_test)
print("The generalization accuracy of the model is {:.2f}%".format(score * 100))

The best parameters are : {'algorithm': 'auto', 'leaf_size': 30, 'n_neighbors': 6, 'weights': 'uniform'}
The best accuracy is 76.44%:
The generalization accuracy of the model is 77.40%

In [ ]:
# We gain almost 5% accuraty (0.7233264793237377 in original knn)

In [1]:
#reminder X and y

In [8]:
y = df["Default payment"].values
X = df.drop("Default payment",axis=1)

In [12]:
knn_classifier = KNeighborsClassifier(6,weights="uniform")

In [13]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(knn_classifier, X, y, cv=5) # cv is the number of folds (k)
print(scores)

# It is always a good practice to show the mean AND the standard deviation of the model accuracy
print("Accuracy: {:.2f}% (+/- {:.2f})".format(scores.mean() * 100, scores.std() * 100))

[0.76165182 0.76662097 0.76966581 0.77412168 0.77172237]
Accuracy: 76.88% (+/- 0.43)